# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Large datasets
data/raw/
data/selected/
data/processed/

# Model weights
*.pt

# Archives
*.zip

# Temporary files
*.log
.DS_Store
Thumbs.db